
p {
  font-size: 0.75em;


  padding: 10px;
  text-align: center;

  border-style: solid;
  border-width: 20px;
  border-color: black;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  text-align: center;
}

h4 {
  font-size: 1em;
  text-align: center;
}

h5 {
  text-align: center;
}



